{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <nav class="navbar navbar-default webmonitor-navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Rodzaje zadań</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('list') }}">Lista</a></li>
                    <li class="active"><a href="{{ path('logs') }}">Logi</a></li>
                    <li><a href="{{ path('stats') }}">Statystyki</a></li>
                    <li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nazwa</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for webmonitorLogType in webmonitorLogTypes %}
                        <tr>
                            <td><a href="{{ path('type_show', { 'id': webmonitorLogType.id }) }}">{{ webmonitorLogType.id }}</a></td>
                            <td>{{ webmonitorLogType.name }}</td>
                            <td>
                                <div style="float:left; margin-top:0px; margin-left: 0px;  margin-bottom: 0px;" class="btn-group" role="group" aria-label="...">
                                        <a href="{{ path('type_show', { 'id': webmonitorLogType.id }) }}"><button type="button" class="btn btn-default">Pokaż</button></a>
                                        <a href="{{ path('type_edit', { 'id': webmonitorLogType.id }) }}"><button type="button" class="btn btn-default">Edytuj</button></a>
                                 </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
         </div>
         <div class="row">
             <div class="col-md-1 col-md-push-1">
                <div style="margin-left:10px; margin-top:10px;" class="btn-group" role="group" aria-label="...">
                        <a href="{{ path('type_new') }}"><button type="button" class="btn btn-success">Dodaj rodzaj</button></a>
                </div>
             </div>
         </div>
    </div>
{% endblock %}
